@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-family-main: "Open Sans", sans-serif;
  --font-weight-title: 700;
  --font-size-title: clamp(1rem, 0.9856rem + 0.0641vw, 1.0625rem);
  --letter-spacing-title: 2.5%; 

  --font-weight-text: 400;
  --font-size-text: 14px;
  --line-height-text: 157%;

  --color-title: #2F948C;
  --color-text: #454545;
  --color-icons: #2F948C;
  --bg-color-card: #F5FBFA;
  --bg-color-page: #fff;
}