.patients-page {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg-color-page);
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
}

.patients-header {
  height: clamp(213px, 20vw, 346px);
  background-color: #000;
  width: 100%;
}

.patients-main {
  display: grid;
  justify-items: center;
  margin-bottom: 263px;
}

.patients-section {
  display: grid;
  justify-self: center;
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
}

.patients-list-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px 40px;
}

.patients-list-buttons__button {
  min-height: 135px;
  height: auto;
  gap: 20px;
  background-color: var(--bg-color-card);
  border-radius: 30px;
  padding: 22px 25px 24px 22px;
  width: 100%;
}

.patients-button {
  text-decoration: none; 
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.patients-list-buttons__icons {
  display: block;
}

.patients-list-buttons__icon {
  width: clamp(35px, 30.38px + 1.28vw, 55px);
  height: clamp(35px, 30.38px + 1.28vw, 55px);
}

.patients-container {
  flex-grow: 1;
}

.patients-list-buttons__title {
  font-size: var(--font-size-title);
  letter-spacing: var(--letter-spacing-title);
  font-weight: var(--font-weight-title);
  color: var(--color-title);
  padding-bottom: 10px;
}

.patients-list-buttons__text {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  color: var(--color-text);
}

.patients-list-buttons__arrow {
  width: 32px;
  height: 32px;
  margin-top: 55px;
  flex-shrink: 0;
}

@media (max-width: 800px) {
  .patients-main {
    margin-bottom: 184px;
  }

  .patients-section {
    padding: 0 18px;
  }

  .patients-list-buttons {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .patients-list-buttons__button {
    padding: 21px 41px 17px 19px;
  }

  .patients-button {
    gap: 13px;
  }

  .patients-list-buttons__arrow {
    display: none;
  }
}